# IDE specific
.idea/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.sqlite3

# dotenv environment variables file
.env
env/
venv/
.venv/

# Logs
logs
*.log

### Project specific ###
settings_local.py

### OS specific ###
.DS_Store